/* CSS styles */
button{
  border-radius:5px;
}
#pad {
   background-color:#00dd00;
  width:1100;
  height:30px;
  border-top:10px solid #00dd00;
}
label {
    font: 1rem futura ts demibold, sans-serif;
    font-size:20;
}
h5 {
    font: 1rem futura ts extralight, sans-serif;
    font-size:15;
}
input {
    margin: .4rem
    
}

h1 {
font-family: futura ts demibold, sans-serif;
color: #00dd00;
}
.hilight h2{
    font-family: Helvetica, Verdana;
    color: #FFF;
    z-index: 200;
}

.promo {
    position: relative;
}
.promo img {
    z-index: 1;
}
.hilight {
 background-color: rgba(0,0,0,0.65);
 position: absolute;
 height: 1000px;
 width: 1200px;
 font-family: Verdana, Geneva, sans-serif;
 color: #FFF;
 bottom: 40px;
 left: 360px;
 z-index: 1;
}
.but{
  left:45px;
   position:relative;
} 
.meter { 
  height: 20px;
  width: 300px;
  left:45;
  position: relative;
  background: #555;
  border-radius: 25px;
  padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}